<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img src="https://mattstor.blob.core.windows.net/home/pics/jacquelyn1.jpg" class="img-responsive img-rounded">
        </div>
        <div class="col-md-8">
            <h1 class="font-avantgarde text-center" ">Jacquelyn Young</h1>
            <h2 class="font-avantgarde text-center">Phoenix, AZ</h2>
            <h4 class="font-avantgarde text-center">Hello, I'm Jacquelyn - a hard working and driven sales person ready to take on a new challenge.  Add another sentence or two here?</h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="container light-green img-rounded">
                <h2>About Me</h2>
                <p>
                    This is where a short biogrpahical statement will go.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container light-blue img-rounded">
                <h2>Resume</h2>
                <h4>Education</h4>
                <ul>
                    <li>Bachelor of Arts, Family Community Services – Michigan State University, Jul 2009</li>
                </ul>
                <h4>Experience</h4>
                <ul>
                    <li>Elite Account Executive, Yelp: 2013 – Present </li>
                    <li>Front of House Trainer & Server, Kona Grill: Feb 2011 – Dec 2013</li>
                    <li>Child Protective Service Specialist, Department of Economic Security: Jan 2010 – Dec 2010</li>
                </ul>
                <h4><a class="btn btn-info" href="https://mattstor.blob.core.windows.net/home/docs/Jacquelyn_Young_resume.pdf" target="_blank"><span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;Download Full Resume</a></h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container light-pink img-rounded">
                <h2>Contact</h2>
                <ul class="list-group">
                    <li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;email:&nbsp;<a href="mailto:jac.marie.young86@gmail.com">jac.marie.young86@gmail.com</a></li>
                    <li class="list-group-item"><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;phone:&nbsp;734-664-8115</li>
                    <li class="list-group-item"><i class="fa fa-linkedin-square" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/jacquelyn-young-a7486394" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
